.stafi_header {
    width:100%;
    height:70px;
    padding:20px 20px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_logo{
        height:30px;
    }
    .header_tool{
        padding:6px;
        background-color: #343B43;
        border-radius: 3px;
        font-size: 14px;
    }
    .header_tools{
        display: flex;
        .header_tool{
            margin-right: 20px;
        }
        .header_tool.account{
            padding:3px 10px;
            border-radius: 3px;
            border:1px solid  #979797;
            background-color: #343B43;
            color:#979797;
            text-align: center;
             
            >div:first-child{
                font-size: 14px;
                font-weight: bold; 
            }
            >div:last-child{
                font-size: 10px;
            }
        }
        .header_tool.account.fis{
            background-image: linear-gradient(to right, #3DDDC4 , #37BFA5,#00EBA2);
            color:#fff;
        }
        .header_tool.notice{
            background-color:transparent;
            position: relative;
        }
        .header_tool.new::after{
            content: "";
            display: block;
            position: absolute;
            width:4px;
            height:4px;
            border-radius: 50%;
            background-color: #FF6464;
            top: 10px;
            left: 3px;
        }

    }
    
}