.stafi_offboard_modal{
    .ant-modal-body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding:22px 18px;  
        .ant-spin{
            margin-top:32px;
        }
        .title{
            font-size: 18px;
            font-weight: bold;
            color:#282B4A; 
        }
        .content{
            font-size: 16px;
            margin-top:14px; 
            line-height: 18px;
        }

    }
    .ant-modal-footer{
        text-align: center;
        padding:0px;
        border-top-width: 0px;
        height: 40px; 
        display: flex;
        div{
            color:#fff;
            background-color: #00F3AB;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            flex:1;
            cursor: pointer;
        }
        >div:first-child{
            color:#282B4A ;
            background-color: #F6F6F6;
        }
    }
}