.stafi_swap_modal{
  width:280px !important;
  .ant-modal-content{
    border-radius: 2.5px;
    
    .ant-modal-body{
      padding: 10px 16px 23px 16px;
      .title{
        width:100%;
        text-align: center;
        color: #282B2A;
        font-size: 18px;
        font-weight: bold;
        >div{
          margin-top:5px;
        }
      }
      .context{
        margin-top:16px;
        font-size: 15px;
        color:#22243d;
      }
    }
  }
  .ant-modal-footer{
    padding:0px;
    height:40px;
    >div{
      display: flex;
      height: 100%;
      a{ 
        flex:1;
        display: block;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
      };
      >a:first-child{
        color:#282B4A;
        background-color: #F6F6F6;
        border-bottom-left-radius: 2.5px;
      }
      >a:last-child{
        color:#fff;
        background-image: linear-gradient(to right, #3DDDC4 , #37BFA5,#00EBA2);
        border-bottom-right-radius: 2.5px;
      }
    }
  }
}