.stafi_reth_poolConract_context{
    padding: 20px 0px 0px 38px;
    position: relative;
    .title{
        margin-bottom: 0px;
    }
    .stafi_card_back{
        top:34px;
        left:10px;
    } 
    .pool_info{
        height:460px;
        overflow:auto; 
    }
}