 
.stafi_layout{
    display: flex; 
    position: relative;
   
    .stafi_layout_content{
        width:100%
    }
    .stafi_container{
        padding-top:40px;
        padding-bottom: 52px;
        flex:1;
        display: flex;
        justify-content: center;
        // padding-right: 90px; 
        .ant-spin-nested-loading > div > .ant-spin .ant-spin-text{
            text-shadow:initial;
        }
    }
}
>.stafi_layout{
    height:100%;
}

.stafi_validator_context{
    .title{
        font-size:30px;
        font-weight: bold;
        margin-bottom: 18px;
    }
    .sub_title{
      font-size:20px;
      font-weight: bold;
      margin-top:30px;
      margin-bottom: 10px;
  }
    .describe{
      color:#C4C4C4;
    }
    .btns{
      margin-top:30px; 
      display: flex;
      justify-content: flex-end;;
    }
  }