 
.stafi_layout{
    display: flex; 
    position: relative;
   
    .stafi_layout_content{
        width:100%
    }
    .stafi_container{
        padding-top:40px;
        padding-bottom: 52px;
        flex:1;
        display: flex;
        justify-content: center;
        // padding-right: 90px; 
    }
}
>.stafi_layout{
    height:100%;
}