.pool_item{
    display: flex;
    padding:10px 0px 10px 45px;
    border-bottom:1px solid #474747;
    .label{
        width:110px;
        margin-right: 10px;
        font-weight: bold;
        font-size: 12px;
    }
    .content{
        flex:1;
        color:#BCBCBC;
        font-size: 12px;
        p{
            margin-bottom: 3px;
            label{
                color:#00F3AB;
            }
        }
        
        a{
            font-size: 12px;
        }
    }
}