.stafi_left_sider {
    padding-top:40px;
    width:176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sider_item{
        padding:3px 9px;
        min-width: 110px;
        display: flex; 
        align-items: center;
        margin-bottom: 37px;
        font-size: 16px;
      
        cursor:pointer;
        img{
            width: 36px;
            height:36px;
            margin-right: 10px;
        } 
    }
    .sider_item.selected{
        background-color: #E7FFF8;
        border-radius: 21px;
        font-weight: bold;
        color:#00F3AB;
    }
}

.stafi_stake_sider{
    width:82px;
    border-right:1px solid #474747;
    height:100%;
    .sider_item{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 33px;
        cursor: pointer;
        text-align: right;
        width: fit-content;
        .sub_item{
            color:#fff;
        }
        
    }
    .sider_item.active{
        color:#00F3AB;
        .sub_item{
          color:#fff;
        }
        .sub_item.sub_active{
            color:#00F3AB;
        }
    }
    >.sider_item:first-child{
        margin-top:20.5px;
    }
    >.sider_item:last-child{
        margin-bottom:0px;
    }
}


