.stafi_connect_button{
    padding:10px 12px 10px 24px !important;
    height: fit-content !important;
    background-color: #23292F !important;
    color:#fff !important;
    border-color:#BFBFBF !important;
    img{
        margin-right: 25px;
    }
}