.atom_stake_tips_modal{
    top:50px;
    .ant-modal-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width:100%;
        }
    }
    
}