.stafi_rDOT_validator_context{
  .title{
      font-size:30px;
      font-weight: bold;
      margin-bottom: 18px;
  }
  .sub_title{
    font-size:20px;
    font-weight: bold;
    margin-top:30px;
    margin-bottom: 10px;
}
  .describe{
    color:#C4C4C4;
  }
  .btns{
    margin-top:30px; 
    display: flex;
    justify-content: flex-end;;
  }
}