.rpool_tab_container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 50px;
  margin-bottom: 10px;

  .tab_title {
    color: #7c7c7c;
    font-size: 20px;
    font-family: 'Helvetica-Bold', sans-serif;
    cursor: pointer;
    margin-right: 40px;

    &.active {
      color: #00f3ab;
      text-decoration: underline;
    }
  }
}

.how_to_earn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  div {
    cursor: pointer;
    color: #00f3ab;
    font-size: 14px;
  }
}

.stafi_rpool_home_card {
  padding: 0px;
  .title {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    a {
      font-size: 14px;
      font-weight: lighter;
      text-decoration: underline;
    }
  }
  .card_list {
    padding: 20px 0px 30px 0px;
    border-bottom: 1px solid #3b3b3b;
    display: flex;
  }
  .table {
    .row,
    .head {
      display: flex;
      padding: 15px 0px;
      .col1 {
        width: 208px;
        padding-left: 20px;
      }
      .col2 {
        width: 150px;
      }
      .col3 {
        width: 190px;
      }
      .col4 {
        width: 160px;
      }
      .col5 {
        width: 156px;
        img {
          width: 14px;
          height: 14px;
          margin-right: 6px;
        }
      }
      .col6 {
        flex: 1;
        button {
          margin-right: 10px;
        }
        > button:last-child {
          margin-right: 0px;
        }
        .liquidity_btn {
          width: 90px;
          padding: 0px;
        }
        .stake_btn {
          width: 61px;
          padding: 0px;
        }
        .popover_btn {
          width: 69px;
          padding: 0px;
        }
      }
      .sort_field {
        cursor: pointer;
        img.desc {
          transform: rotate(180deg);
        }
      }
    }
    .row {
      border-bottom: 1px solid #3b3b3b;
      .col {
        font-size: 14px;
      }
      .col1 {
        font-size: 16px;
        font-weight: bold;
      }
      .col2 {
        > div {
          display: flex;
          width: 100%;
          align-items: center;
          > div {
            display: inline-block;
            min-width: 75px;
          }
          label {
            font-size: 8px;
            color: #7c7c7c;
          }
        }
      }
    }
    .head {
      font-size: 14px;
      font-weight: bold;
      color: #7c7c7c;
    }
    // .table_body{
    //     height:300px;
    //     overflow: auto;
    // }
    .rtoken_type {
      background-color: #293038;
      border-radius: 2px;
      margin-bottom: 30px;
      > .row:last-child {
        border-bottom-width: 0px;
      }
    }
  }
}
