.stafi_home_card{
  padding-top:148px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
      font-size: 30px; 
      font-weight: bold;
      label{
         color:#00F3AB;
         font-weight: bolder;
         font-style: italic;
         
      }
  }
  .sub_title{
      font-size: 14px;
      margin-top:10px;
      margin-bottom: 63px;
  }
  .stafi_a{
      margin-top:102px;
      font-size:14px;
      color:#fff;
  }
}


.wallet_card{
  padding:36px 51px 16px 51px;
  height: 100%;
  display: flex;
  flex-direction: column;
  >div:first-child{
    flex:1;
  }
  .title{
    font-size: 30px;
    margin-left:3px;
    margin-bottom: 10px;
  }
  .wallet_card_item{
    margin-bottom: 20px; 
  }
  .wallet_card_item:last-child{
    margin-bottom: 0px;;
  }
  .btn_panel{
    display: flex;
    justify-content: flex-end;
  }
  .wallet_card_content{
    height: 385px;
    overflow: auto;
  }
}
.wallet_card_item{
  width: 100%;
  height:74px;
  border-radius: 7px;
  border:1px solid #979797;
  padding:14px 16px 14px 27px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  .item_title{
    // display: block;
    font-size: 20px;
    margin-bottom:8px;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .item_address{
    display: block;
    font-size: 12px;
    cursor: pointer;
  }
  .item_money{
    display: flex;
    align-items: center;
    font-size: 14px;
    img{
      margin-left:5px;
    }
  }
}


.stafi_stake_card{
  padding:11.5px 50px 15.5px 32px;
  height:100%;
  display: flex;
}

.stafi_type_card{
  display: flex;
  height:100%;
  border-radius: 19px;
  overflow: hidden;;
  .type_card_item{
    flex:1;
    padding-top:104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    cursor: pointer;
    .title{
      font-size: 40px;
      color:#00F3AB;
      line-height: 40px;
      font-weight: bold;
    }
    .sub_title{
      font-size: 16px;
      color:#777777;
      margin-bottom: 55px;
    }
    .apr_panel{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
      label{ 
        color:#C1C1C1;
        font-size: 18px;
        
      }
    }
    .r_panel{
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        width:33px;
        height:33px;
      }
      div{
        color:#00F3AB;
      }
    }
  }
  .type_card_item:hover{
    background-color: #374049;
  }
}