.stafi_status_validator_context{
    .staked_eth{
        border-bottom: 1px solid #474747;
        padding-bottom: 10px;
    }
    .pool_contracts{
        padding-top:15px;
        .btns{
            display: flex;
            justify-content: flex-end;
            transform: translateX(-1px);
            background-color:#2B3239 ;
            margin-top:10px
        }
    }
    padding-left:0px;
    .title{
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        margin-left: 25px;
       
        img{
            margin-right: 10px;
        }
        .icon{
            margin-left:33px;
        }
    }
    .liquefy_panel{
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        font-weight: bold;
        align-items: center;
        margin-left: 71px;
        margin-bottom: 10px;
        color:#00F3AB;
    }
    .apr_panel{
        margin-left:71px;
        width:fit-content;
        padding-right: 20px;
        >div{
            font-size: 12px;
            min-width: 118px;
            padding:10px 20px 10px 0px;
        }
        >div:first-child{
            border-bottom: 1px solid #474747;
        }
        
    }
}