.pool_content_process{
    .container{
        display: flex;
        position: relative;
        height:30px;
        border-bottom: 1px solid #c4c4c4;
        margin-left: 20px;
        margin-right: 53px;
        margin-bottom: 20px;
        >div{ 
            display: flex;
            flex-direction: column;
            align-items: center;
            flex:1;
            position: absolute;
            bottom: -12px; 
            color:#696969;
            .icon{
                width:15px;
                height:15px;
                border-radius: 50%;
                background-color: #696969;
                display: flex;
                align-items: center;
                justify-content: center; 
                border: 4px solid #2B3239;
                box-sizing: content-box;
            } 
        }
        .Matched{
            left:-20px;
        }
        .Deposited{
            left:40px;
        }
        .Pending{
            left:110px;
        }
        .Active{
            left:180px; 
        }
        .Exit{
            left:231px;
        }
        >div.active{
            color:#BCBCBC;
            .icon{
                background-color: #00F3AB;
            }
        }
    }
}