.stafi_content {
  width: 683px;
  height: 535px;
  background-color: #2b3239;
  border-radius: 19px;
  position: relative;
}

.stafi_content_large {
  width: 752px;
  height: 581px;
  background-color: #2b3239;
  border-radius: 19px;
  position: relative;
}

.stafi_content_full {
  width: 993px;
  height: initial;
  min-height: 535px;
  background-color: #23292f;
}

.stafi_content_notice::after {
  content: 'Notice: Please DO NOT use your Ledger account, otherwise your assets will be lost.';
  position: absolute;
  bottom: -57px;
  width: 100%;
  min-width: fit-content;
  // left: -29px;
  color: #c4c4c4;
  text-align: center;
  left: 0px;
}
